In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from IPython.display import display
import sqlite3

In [5]:
# pull in all of the data from the DB
conn = sqlite3.connect("../stats.db")
curs = conn.cursor()

curs.execute("SELECT * FROM team")
team_data = curs.fetchall()
team = pd.DataFrame(team_data, columns=["Team", "Year", "Stat", "Unit", "Value"])


# curs.execute("SELECT * FROM individual")
# ind_data = curs.fetchall()
# ind = pd.Dataframe(ind_data, columns=["Name","Year", "Team" "Stat", "Unit", "Value"])

              Team  Year                   Stat   Unit    Value
0     ubc_okanagan  2018                 points      s    77.00
1     ubc_okanagan  2018                 points     no   999.50
2     ubc_okanagan  2018                 points  avg/s    12.98
3          alberta  2018     hitting_percentage      s    90.00
4          alberta  2018     hitting_percentage     no  1473.00
...            ...   ...                    ...    ...      ...
5212   mount_royal  2021  opponent_service_aces     no   607.00
5213   mount_royal  2021  opponent_service_aces  avg/s    10.29
5214      manitoba  2021          opponent_digs      s    68.00
5215      manitoba  2021          opponent_digs     no   713.00
5216      manitoba  2021          opponent_digs  avg/s    10.49

[5217 rows x 5 columns]